

body 
{  
}

.container{

    width: 320px;
    height: 320px;
    margin: auto;
   
    margin-top: 100px;
}

.title 
{
    text-align: center;
}

.row{
height: 100px;

}

.border-b
{
    border-bottom: 10px solid black;
}

.col{
    height:100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}

.col:hover{
    background-color: red;
}

.border-r
{
    border-right: 10px solid black;
}